* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  width: 100vw;
  height: 100vh;
}

#left-info-board, #right-board-game {
  display: flex;
  flex-direction: column;
}

#left-info-board {
  flex-basis: 20%;
}

#right-board-game {
  flex-basis: 80%;
}

.one-third-of-board {
  flex-basis: 33%;
}

.go-right, .go-left {
  display: flex;
  flex-basis: 25%;
}

.go-left {
  flex-direction: row-reverse;
}

.go-right:nth-child(odd) > .field:last-child {
  border-top-right-radius: 50%;
}

.go-left:nth-child(even) > .field:first-child {
  border-bottom-right-radius: 50%;
}

.go-left:nth-child(2) > .field:last-child {
  border-top-left-radius: 50%;
}

.go-right:nth-child(3) > .field:first-child {
  border-bottom-left-radius: 50%;
}

.one-third-of-board:first-child > 
.go-left:last-child > .field:last-child {
  border-top-left-radius: 50% ;
}

.one-third-of-board:last-child > 
.go-right:first-child > .field:first-child {
  border-bottom-left-radius: 50% ;
}

#middle-left-board > 
.go-right:first-child > .field:first-child{
  border-bottom-left-radius: 50%;
}

#middle-left-board > 
.go-left:last-child > .field:last-child{
  border-top-left-radius: 50%;
}

#right-middle {
  display: flex;
}

.flex-tracks {
  display: flex;
  gap: 1%;
  flex-direction: column;
}

.half-of-middle {
  flex-basis: 50%;
}

.field {
  display: grid;
  place-items: center;
  border: 1px solid black;
}

.field-10 {
  flex-basis: 10%;
}

.field-5 {
  flex-basis: 20%;
}
